# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.packages
.pub-cache/
build/
coverage/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/.symlinks/
ios/Pods/
ios/Runner/GeneratedPluginRegistrant.*
android/.gradle/
android/app/build/
android/local.properties
android/key.properties
android/gradlew
android/gradlew.bat
android/gradle/
android/.cxx/
.melos_tool/
.flutter-plugins
.flutter-plugins-dependencies
.flutter-plugins-dependencies
.metadata
*.iml
*.ipr
*.iws
.idea/
*.log
*.lock
*.tmp
.DS_Store
